* {
    margin: 0;
    padding: 0;
}



/* header section */
header {
    background-color: #fff0de;
    padding: 30px 200px;
}

.header-part {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.h-title {
    font-size: 45px;
    font-weight: 700;
}

.header-list {
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: 18px;
    font-weight: 500;
}

/* brand-title */
.brand-title {
    padding-top: 150px;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}

.brand-description {
    padding: 0 220px;
    text-align: center;
    padding-top: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}

.brand-button {
    margin: auto;
    display: flex;
    margin-top: 25px;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    background-color: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
}

.h-banner {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}


/* main section */

/*list features section */
.list-features-part {
    display: flex;
    padding: 100px 200px;
}

.list-features-title {
    font-size: 45px;
    font-weight: 700;
}

.sp {
    color: #FF900E;
}

.sp1 {
    color: #727272;
}

.list-features-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.list-features {
    margin: auto;
    padding-left: 40px;
}

.brand-button1 {
    margin-top: 25px;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    background-color: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
}

.list-dec {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    padding-top: 20px;
}

/* * enjoy-features-part * */

.side-bar {
    background-color: #727272;
    padding: 20px 0;
}

.enjoy-features-part {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 150px;
    padding: 100px 200px;
}

.enjoy-features-title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-left: 20px;
    border-left: 8px solid #FF900E;
    border-radius: 5px;
}

.enjoy-de {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    padding: 20px 0;
}

.enjoy-list {
    margin-top: 20px;
    padding: 30px 0px;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.enjoy-list-title {
    padding: 20px;
}

.enjoy-list-d {
    padding: 0 30px;
    color: #727272;
}

.enjoy-img {
    margin: auto;
}

.e-sp {
    font-size: 26px;
    line-height: -10px;
}

.brand-button2 {
    position: absolute;
    margin-top: 900px;
    margin-left: -50px;
    padding: 15px 25px;
    font-size: 50px;
    font-weight: 600;
    border: none;
    background-color: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
}


/* facts section */
.facts-parts {
    padding: 150px 200px;
}

.facts-title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

.facts-dec {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 0;
}

.facts-parts-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 100px;
    padding: 30px;

}

.facts-item {
    padding: 50px;
    border: 1px solid #FF900E;
    border-radius: 10px;
}

.facts-item-title {
    font-size: 45px;
    padding: 15px 0;
    text-align: center;
}

.facts-item-img {
    height: 45px;
    width: 45px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.facts-item-dis {
    font-size: 20px;
    text-align: center;
    color: #727272;
}


/* Our sponsors part */

.sponsors-part {
    padding: 0px 200px;
    padding-bottom: 50px;
}

.sponsors-title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 10px;
}

.sponsors-dis {
    text-align: center;
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0;
}

.sponsors-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 60px 60px;
}

.sponsors-list img {
    filter: grayscale(100%);
}

/* footer */
.footer-dis {
    background-color: #FFF4E7;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #424242;
    padding: 150px;
}



/*  Responsive styles */

@media screen and (max-width: 576px) {

    .header-part {
        flex-direction: column;
    }

    .header-list {
        flex-direction: column;
        padding-top: 50px;
    }

    .list-features-part {
        flex-direction: column;
    }

    .list-features-img {
        grid-template-columns: 1fr;
        margin: auto;
        padding: auto;
    }

    .enjoy-features {
        flex-direction: column;
    }

    .enjoy-features-part {
        grid-template-columns: 1fr;
    }

    .facts-parts-list {
        grid-template-columns: 1fr;
    }

    .sponsors-list {
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }
}