* {
    margin: 0;
    padding: 0;
}



/* header section */
header {
    background-color: #fff0de;
    padding: 30px 200px;
}

.header-part {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.h-title {
    font-size: 45px;
    font-weight: 700;
}

.header-list {
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: 18px;
    font-weight: 500;
}

/* brand-title */
.brand-title {
    padding-top: 150px;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}

.brand-description {
    padding: 0 220px;
    text-align: center;
    padding-top: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}

.brand-button {
    margin: auto;
    display: flex;
    margin-top: 25px;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    background-color: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
}

.h-banner {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}


/* main section */

/*list features section */
.list-features-part {
    display: flex;
    padding: 100px 260px;
}

.list-features-title {
    font-size: 45px;
    font-weight: 700;
}

.sp {
    color: #FF900E;
}

.sp1 {
    color: #727272;
}

.list-features-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.list-features {
    margin: auto;
    padding-left: 40px;
}

.brand-button1 {
    margin-top: 25px;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    background-color: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
}


/* enjoy-features-part */
.side-bar {
    background-color: #727272;
    padding: 20px 0;
}

.enjoy-features-part {
    display: flex;
    padding: 200px 250px;
}

.enjoy-features-title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-left: 20px;
    border-left: 8px solid #FF900E;
    border-radius: 5px;
}

.enjoy-de {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    padding: 20px 0;
}

.enjoy-list {
    margin-top: 20px;
    padding: 30px 0px;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.enjoy-list-title {
    padding: 20px;
}

.enjoy-list-d {
    padding: 0 30px;
    color: #727272;
}

.enjoy-img {
    margin: auto;
}

.brand-button2 {
    position: absolute;
    margin-top: 850px;
    margin-left: -20px;
    padding: 20px 25px;
    font-size: 65px;
    font-weight: 600;
    border: none;
    background-color: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
}